* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
/* Dark mode specific styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Toggle Switch Styles */
.mode-toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: rgba(204, 204, 204, 1);
  border-radius: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.mode-toggle-switch.active {
  background-color: rgba(46, 46, 49, 1); /* Green when active (Dark Mode) */
}

/* Icons on the background */
.mode-toggle-switch::before {
  content: "🌙"; /* Sun icon for Light Mode */
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.mode-toggle-switch.active::before {
  content: "☀️"; /* Moon icon for Dark Mode */
  right: unset;
  left: 10%;
}

/* Circle slider */
.mode-toggle-switch::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 2;
}

.mode-toggle-switch.active::after {
  background-color: rgba(125, 125, 125, 1);
  transform: translateX(30px); /* Move the circle to the right */
}
