@use "variables";

// kaysa.scss
.kaysa {
  &-container {
    position: relative;
    width: 100%;

    visibility: hidden;

    &.visible {
      visibility: visible !important;
    }

    /* buttons hidden normal state */
    & > :not(.kaysa-items) {
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    /* if slider scrolling or hover show buttons  */
    &.scrolling > :not(.kaysa-items),
    &:hover > :not(.kaysa-items) {
      opacity: 1;

      /* disabled buttons opacity */
      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &-items {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-behavior: smooth;

    /* Tüm scrollbar'ları gizle */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */

    &::-webkit-scrollbar {
      display: none;
      /* Chrome/Safari/Opera */
    }
  }

  &-button {
    position: absolute;
    top: 50%;
    width: 43px;
    height: 43px;

    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow);

    color: var(--button-text-color);
    background: var(--button-background-color);

    cursor: pointer;
    z-index: 10;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    transform: translateY(-50%);
    display: flex;
    align-items: center;

    justify-content: center;

    &:hover {
      transform: translateY(-50%) scale(1.05);
    }

    &:disabled {
      cursor: initial;

      &:hover {
        transform: translateY(-50%);
      }
    }

    &--left {
      left: 15px;
    }

    &--right {
      right: 15px;
    }
  }
}
