/** COLORS **/
$color-theme-light: rgba(218, 215, 205, 1);
$color-theme-base: rgba(88, 129, 87, 1);
$color-theme-dark: rgba(52, 78, 65, 1);

$color-theme-second-light: rgba(182, 173, 144, 1);
$color-theme-second-base: rgba(147, 102, 57, 1);
$color-theme-second-dark: rgba(88, 47, 14, 1);

$color-grey-200: rgba(235, 235, 235, 1);
$color-grey-400: rgba(204, 204, 204, 1);

$opacity-backcloth-light: rgba(25, 25, 25, 0.4);
$opacity-backcloth-dark: rgba(25, 25, 25, 0.8);

// Theme Colors
:root {
  --color-theme-light: #{$color-theme-light};
  --color-theme-base: #{$color-theme-base};
  --color-theme-dark: #{$color-theme-dark};

  body.dark-mode {
    --color-theme-light: #{$color-theme-dark};
    --color-theme-base: #{$color-theme-base};
    --color-theme-dark: #{$color-theme-light};
  }

  --color-theme-second-light: #{$color-theme-second-light};
  --color-theme-second-base: #{$color-theme-second-base};
  --color-theme-second-dark: #{$color-theme-second-dark};

  body.dark-mode {
    --color-theme-second-light: #{$color-theme-second-dark};
    --color-theme-second-base: #{$color-theme-second-base};
    --color-theme-second-dark: #{$color-theme-second-light};
  }

  --color-arrow-inactive: #{$color-grey-400};
  --color-arrow-active: #{$color-grey-200};

  body.dark-mode {
    --color-arrow-inactive: #{$opacity-backcloth-dark};
    --color-arrow-active: #{$opacity-backcloth-light};
  }
}
